:root {
  /* Fonts */
  --font-sans:
    "Noto Sans Variable", "Noto Sans JP Variable", "Noto Emoji Variable",
    ui-sans-serif, sans-serif;
  --font-serif:
    "Noto Serif Variable", "Noto Serif JP Variable", "Noto Emoji Variable",
    ui-serif, serif;
  --font-mono: "Noto Sans Mono Variable", ui-monospace, monospace;

  --color-code-background: lightgray;
  --color-text-weak: black;
  --color-inserted-line: #f0fff4;
  --color-deleted-line: #ffeef0;
  --color-highlighted-line: lightskyblue;
  --color-highlighted-line-indicator: blue;

  --color-code-titlebar: dodgerblue;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #002244;
    color: white;

    --color-code-background: darkgray;
    --color-text-weak: white;
    --color-inserted-line: #033a16;
    --color-deleted-line: #67060c;
    --color-highlighted-line: midnightblue;
  }

  textarea {
    background-color: black;
    color: white;
  }

  a {
    color: lightblue;
  }

  a:visited {
    color: violet;
  }
}

body {
  font-family: var(--font-sans);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

textarea,
pre,
code {
  font-family: var(--font-mono);
}

/* Section1: Title */
#title {
  height: 10vh;
}

#title h1 {
  font-size: 5vh;
  margin: 0;
  padding: 1.25vh;
  text-align: center;
}

/* Section2: Editor */
#editor {
  position: absolute;
  box-sizing: border-box;
  width: 50vw;
  height: 70vh;
}

/* Section3: Info */
#info {
  position: absolute;
  box-sizing: border-box;

  top: 80vh;
  width: 50vw;
  height: 5vh;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#info button.info-item {
  border: none;
  background: transparent;
}

#info .info-item {
  box-sizing: border-box;

  font-size: 2vh;
  margin: 0;
  padding: 1vh;
}

#info .info-item:hover {
  background-color: lightgray;
  cursor: pointer;
}

#info .info-item:focus-visible {
  z-index: 1;
  outline: 2px solid skyblue;
}

/* Section4: Preview */
#preview {
  position: absolute;
  box-sizing: border-box;

  top: 10vh;
  left: 50vw;
  width: 40vw;
  height: 75vh;

  border: 1px solid dimgray;
  overflow: auto;
  padding: 1rem;
  white-space: nowrap;
}

#preview a {
  text-decoration: none;
}

#preview a:hover {
  text-decoration: underline;
}

/* highlight.js styles */

.parent-container-of-pre {
  display: grid;
  /* in order { overflow-x: auto; } works in child <pre> */
}

pre,
pre code {
  background-color: var(--color-code-background);

  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.2;
  tab-size: 2;
  hyphens: none;
}

pre {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-text-weak);
  border-radius: 5px;

  overflow-x: auto;
}

pre > code {
  float: left;
  min-width: 100%;
}

.code-line {
  min-width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: -12px;
  margin-right: -12px;
  border-left: 4px solid transparent;
  /* prepare for highlighted code-lines */

  display: inline-block;
}

.code-line.inserted {
  background-color: var(--color-inserted-line);
  /* inserted code-line (+) */
}

.code-line.deleted {
  background-color: var(--color-deleted-line);
  /* deleted code-line (-) */
}

.highlighted-code-line {
  background-color: var(--color-highlighted-line);
  border-left: 4px solid var(--color-highlighted-line-indicator);
}

.numbered-code-line::before {
  content: attr(data-line-number);

  margin-left: -8px;
  margin-right: 16px;
  width: 1rem;
  color: var(--color-text-weak);
  text-align: right;

  display: inline-block;
}

/* custom highlight.js settings */

.remark-code-container {
  position: relative;
}

.remark-code-container pre {
  margin-top: 0;
}

pre code.hljs {
  box-sizing: border-box;
}

pre::before {
  position: absolute;
  content: attr(data-language);
  background-color: dodgerblue;
  padding: 0.25rem;
  right: 17px;
}

.code-line {
  margin-left: -16px;
  margin-right: -16px;
  border-right: 4px solid transparent;
}

.remark-code-title {
  padding: 2px 0 4px 1rem;
  color: var(--color-text-weak);
  font-size: 95%;
  background-color: var(--color-code-titlebar);
  border: 1px solid var(--color-text-weak);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.remark-code-title + pre {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Section5: Panel */
#panel {
  position: absolute;
  box-sizing: border-box;

  top: 85vh;
  width: 100vw;
  height: 15vh;

  background-color: white;
  color: black;
  border: 1px solid dimgray;
}

#panel-tabs {
  box-sizing: border-box;

  height: 5vh;
  width: fit-content;
  padding: 0 1rem;

  display: flex;
}

#panel .panel-content {
  box-sizing: border-box;

  width: 100vw;
  height: 10vh;

  border: none;

  display: none;
}

#panel textarea.panel-content {
  padding: 1rem;
  resize: none;

  background-color: white;
  color: black;
}

/* タブとパネルの対応関係 */
#panel-tabs:has(input#panel-tabs-lint-input:checked) ~ #panel-lint,
#panel-tabs:has(input#panel-tabs-metadata-input:checked) ~ #panel-metadata,
#panel-tabs:has(input#panel-tabs-plaintext-input:checked) ~ #panel-plaintext {
  display: block;
}

/* ラジオボタンを非表示にする（display:none はアクセシビリティの観点から使用しない） */
#panel-tabs input.panel-tabs-item-input {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* タブのラベル */
#panel-tabs .panel-tabs-item {
  font-size: 2vh;
  padding: 0;
  margin: 1vh;
  border: 0;
  border-bottom: 1px solid transparent;
  color: gray;
}

/* ホバー時: 文字色のみ変更 */
#panel-tabs .panel-tabs-item:hover {
  cursor: pointer;
  color: black;
}

/* キーボードによるフォーカス時: アウトラインを表示 */
#panel-tabs:has(input.panel-tabs-item-input:focus-visible) {
  outline: 2px solid skyblue;
}

/* 選択時: 下線と文字色を変更 */
#panel-tabs .panel-tabs-item:has(input.panel-tabs-item-input:checked) {
  color: black;
  border-bottom: 1px solid skyblue;
}

/* Section6: Toc */
#toc {
  position: absolute;
  box-sizing: border-box;

  top: 10vh;
  left: 90vw;
  width: 10vw;
  height: 75vh;
  padding: 0;

  /* background-color: black; */
  border: 1px solid dimgray;

  overflow-wrap: anywhere;
  overflow-y: auto;
}

#toc ul {
  list-style-type: none;
  padding-left: 0.5rem;
}

#toc ul li {
  margin-top: 0.5rem;
}

/* Section7: Dialog */
#dialog dialog {
  border-radius: 0.5rem;
}

#dialog button:focus-visible {
  outline: 2px solid skyblue;
}

#dialog button.dialog-submit-button {
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}

#dialog button.dialog-cancel-button {
  background-color: dimgray;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

@media (prefers-color-scheme: dark) {
  #info {
    background-color: black;
    color: white;
  }

  #info .info-item {
    color: white;
  }

  #info .info-item:hover {
    background-color: dimgray;
  }

  #panel {
    background-color: black;
    color: white;
  }

  #panel textarea.panel-content {
    background-color: black;
    color: white;
  }

  #panel-tabs .panel-tabs-item:hover {
    color: white;
  }

  #panel-tabs .panel-tabs-item:has(input.panel-tabs-item-input:checked) {
    color: white;
  }
}
